<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.cdnfonts.com/css/games" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c706162be2.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="..//static/favicon.png">
    <title>Arithmetic</title>
</head>
<style>
a {
    text-decoration: none;
}
</style>
<body onload="init(),  init_countdown()">
    <div id="game_view" class="">
        <header>
            <p style=" font-size: small; color: #00b7ff; letter-spacing: 3px;">Draw the correct number</p>
            <div id="time_bar">
                <h3 style="margin: 5px 0 0 0; ; letter-spacing: 2px;">Score <span id="score_tag">0</span></h3>
            </div>
        </header>
    
        <div id="sketchpadapp">
            <canvas id="sketchpad" height="300" width="300"></canvas>
        </div>

        <div id="button_bar">
            <!-- <a href="https://undrwolf.com/projects/aritmetic/index.html">
                <button id="quit" class="system_btns" ><i style='font-size:24px' class="fa fa-power-off" aria-hidden="true"></i></button>
            </a> -->
            
            <button onclick="clearCanvas(canvas,ctx)" id="submit" class="system_btns" style="width: 80px;" >Erase</button>
            <button onclick="submit()" id="submit" class="system_btns" style="width: 80px;" >Submit</button>

            
            <!-- <button onclick="sound(1)" id="sound_on"  class="system_btns hide" style="text-align: left;"><i style='font-size:24px;' class='fas'>&#xf028;</i></button>
            <button onclick="sound(0)" id="sound_off" class="system_btns hide" style="text-align: left;"><i style='font-size:24px;' class='fas'>&#xf6a9;</i></button> -->
        </div>
        <div id="">
            <div id="text_area"> <p style="font-size: 1.6rem;" id="text_promt"></p> </div>
            <h1 style="font-size: 7rem; text-align: center; margin-top: 0px;" id="draw_number"></h1>
        </div>
    </div>
    
</body>
<script src="../static/gmae_gui.js"></script>
<script src="../static/sketchpad.js"></script>
<script >
   
    // Game variables
    let time_1s;
    let number = 0
    let exp_string;
    let exp_num;
    const answer_time = []
    var cd

    function init_countdown() {
        cd = setInterval(countdown, 1000)
    }
    let i = 3
    function countdown() {
        console.log(i);
        document.getElementById('text_promt').innerHTML = `Game starts in <br>${i}`
        if (i == 0) {
            clearInterval(cd)
            setTimeout(function() {
                init_game()
            }, 1000)
        }
        i = i-1
    }
    function stop_game_loop() {
        clearInterval(time_1s); time_1s = null
    }
    function init_game() {
        expression()
        setTimeout(function(){
            // Color Time Bar
            init_countdown_bar()
            if (!time_1s) {time_1s = setInterval(game_loop, 1000)}
        }, 1000)
    }
    function stop_all_loops() {
        stop_game_loop()
        stop_color_bar()
    }

    // --------------------- Game --------------------
    function game_loop() {
        loop_time = loop_time - 1
        if (loop_time == 0) {
            submit()
        }}
        function stop_game_loop(){clearInterval(time_1s); time_1s = null;}
        
        function submit() {
            loop_time = 10
            stop_all_loops()
            predict()
            clearCanvas(canvas,ctx)
        }
        function game_score(pred) {
            if (pred==number) {
                score = score + 1; score_tag.innerHTML = score
                init_game()
            } else {
                stop_all_loops()
                document.getElementById('text_promt').innerHTML =  `Your wrote ${pred}<br>Correct is ${number}`
                setTimeout(function() {
                    gameover()
                }, 5000)
            }
    }
    function predict() {
        const link = document.createElement('a')
        link.href = canvas.toDataURL()
        let link_str = String(link.href.slice(22,))
        document.getElementById('text_promt').innerHTML = 'Checking answer '
        let data = {
            'link': link_str
        }
        fetch("/predict/", {
            "method": "POST",
            "headers": {"Content-Type": "application/json"},
            "body": JSON.stringify(data),
        }).then(function (response) {
                return response.json();
            }).then(function (text) {
                game_score(text.resp)
            });
    }
    function expression() {
        fetch(`/expression/${score}`)
        .then(function (response) {
                return response.json();
            }).then(function (text) {
                console.log(text);
                number = Number(text.sum)
                exp_num = text.expression
                exp_string = text.string
                document.getElementById('text_promt').innerHTML = exp_string
            });
    }

    function gameover() {
        stop_all_loops()
        let a= document.createElement('a');
        a.href= `/scoreboard/${score}`;
        a.click();

    }
    
    function test() {
    }
    function new_game() {
        location.reload();
    }

</script>
</html>